:root {
    --blue: #0010b0;
    --lightblue: #4e65c8;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

html {
    font-size: 16px;
    color-scheme: light dark;
}

body {
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
    a.Subject_Links {
        text-decoration: none;
        color: black;
    }

    a.Subject_Links:link {
        text-decoration: none;
        color: black;
    }
    
    a.Subject_Links:visited {
        text-decoration: none;
        color: black;
    }
    
    a.Subject_Links:hover {
        text-decoration: underline;
        color: black;
    }
    
    a.Subject_Links:active {
        text-decoration: none;
        color: black;
    }

    .lesson_links {
        color: black;
    }
    
    .lesson_links:link {
        color: black;
    }
    
    .lesson_links:visited {
        color: black;
    }
    
    .lesson_links:hover {
        color: black;
    }
    
    .lesson_links:active {
        color: black;
    }

    .slideout {
        background-color: whitesmoke;
    }
    
    .slidein {
        background-color: whitesmoke;
    }
}

@media (prefers-color-scheme: dark) {
    a.Subject_Links {
        text-decoration: none;
        color: white
    }

    a.Subject_Links:link {
        text-decoration: none;
        color: white;
    }
    
    a.Subject_Links:visited {
        text-decoration: none;
        color: white;
    }
    
    a.Subject_Links:hover {
        text-decoration: underline;
        color: white;
    }
    
    a.Subject_Links:active {
        text-decoration: none;
        color: white;
    }

    .lesson_links {
        color: white;
    }
    
    .lesson_links:link {
        color: white;
    }
    
    .lesson_links:visited {
        color: white;
    }
    
    .lesson_links:hover {
        color: white;
    }

    .slideout {
        background-color: #152028;
    }
    
    .slidein {
        background-color: #152028;
    }

    .table {
        filter: invert(1);
    }
}

@media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
}

@media (min-width: 800px) {
    .container {
        flex-direction: row;
    }

    .left {
        width: 50rem;
    }
      
    .right {
        width: 50rem;
    }

    .Intro {
        width: 40rem;
    }
    
    .Subject_Field {
        width: 40rem;
    }
}

/*Index style*/
.Intro {
    background-color: transparent;
    text-align: left;
    float: left;
    font-size: 20px;
    margin-right: 2%;
    margin-top: none;
    padding-top: none;
}

.Subject_Field {
    background-color: transparent;
    font-size: 19px;
    text-align: left;
    float: left;
    margin-left: 2%;
    margin-top: none;
}

.Resources {
    font-size: 20px;
    margin-top: 10px;
    float: left;
}
/*End Index Style*/

/*Lesson Heading*/
.heading .heading_button {
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: calc(16px + 0.75vw);
    font-weight: 600;
    margin-top: none;
    margin-bottom: none;
    margin-left: -.4%;
    margin-right: auto;
    padding: none;
    cursor: pointer;
}

.heading_button:hover {
    text-decoration: underline;
    color: var(--blue);
}
/*End Lesson heading style*/

/*Single Variable Calculus style*/
.container {
    display: flex;
    justify-content: space-between;
}

#Lesson_plan {
    list-style-type: upper-roman;
}

.Lesson {
    font-weight: 600;
    margin-bottom: 7.5px;
}

.lesson_links {
    text-decoration: none;
}

.lesson_links:link {
    text-decoration: none;
}

.lesson_links:visited {
    text-decoration: none;
}

.lesson_links:hover {
    text-decoration: underline;
}

.lesson_links:active {
    text-decoration: underline;
}
/*End Single Variable Calculus style*/

/*Lessons style*/
.center_text {
    text-align: center;
}

.table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    min-width: 320px;
}

.figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22.5%;
    height: auto;
    min-width: 250px;
}

.bigFigure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    min-width: 320px;
}

.solutionButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    margin-left: none;
    padding-left: none;
}

.solutionButton:hover {
    color: var(--blue);
}

.slideout {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.slidein {
    max-height: 2000px;
    overflow: hidden;
    transition: max-height 0.75s;
}
/*End Lessons Style*/