:root {
    --blue: #0010b0;
    --lightblue: #4e65c8;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

html {
    font-size: 16px;
    color-scheme: light dark;
}

body {
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
    .Subject_Links,
    .Subject_Links:link,
    .Subject_Links:visited,
    .Subject_Links:hover,
    .Subject_Links:active,
    .lesson_links,
    .lesson_links:link,
    .lesson_links:visited,
    .lesson_links:hover,
    .lesson_links:active,
    .heading_button, 
    .solutionButton {
        color: black;
    }

    .slideout, .slidein {
        background-color: whitesmoke;
    }
    
    .heading_button:hover, .solutionButton:hover {
        color: var(--blue);
    }

    .start_button {
        border: 2px solid var(--blue);
        color: black;
    }
    
    .start_button:hover {
        background-color: var(--blue);
        color: white;
    }

    .definition {
        border: 4px solid black;
    }
}

@media (prefers-color-scheme: dark) {
    .Subject_Links,
    .Subject_Links:link,
    .Subject_Links:visited,
    .Subject_Links:hover,
    .Subject_Links:active,
    .lesson_links,
    .lesson_links:link,
    .lesson_links:visited,
    .lesson_links:hover,
    .lesson_links:active,
    .heading_button, 
    .solutionButton {
        color: white;
    }

    .slideout, .slidein {
        background-color: #152028;
    }

    #invert {
        filter: invert(1);
    }
    
    .heading_button:hover, .solutionButton:hover {
        color: var(--lightblue);
    }

    .start_button {
        border: 2px solid var(--lightblue);
        color: white;
    }
    
    .start_button:hover {
        background-color: var(--lightblue);
    }

    .definition {
        border: 4px solid white;
    }
}

@media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
}

@media (min-width: 601px) {
    .container {
        flex-direction: row;
    }

    .left, .right {
        width: 50rem;
    }

    .Intro, .Subject_Field {
        width: 40rem;
    }
}

/*Index style*/
.Intro, .Subject_Field {
    background-color: transparent;
    text-align: left;
    margin-top: none;
    padding-top: none;
}

.Intro {
    font-size: 1.2rem;
    margin-right: 2%;
}

.Subject_Field {
    font-size: 1.15rem;
    margin-left: 2%;
}

.Resources {
    font-size: 1rem;
    margin-top: 10px;
    float: left;
}
/*End Index Style*/

/*Lesson Heading*/
.heading_button, .start_button {
    background-color: transparent;
    width: max-content;
    font-weight: 600;
    margin: none;
    padding: none;
    cursor: pointer;
}

.heading_button {
    margin-left: -.4rem;
    border: none;
}

.start_button {
    border-radius: .1rem;
    float: right;
}

.heading_button:hover {
    text-decoration: underline;
}
/*End Lesson heading style*/

/*Single Variable Calculus style*/
.container {
    display: flex;
    justify-content: space-between;
}

#Lesson_plan {
    list-style-type: upper-roman;
}

.Lesson {
    font-weight: 600;
    margin-bottom: 7.5px;
}

.Subject_Links,
.Subject_Links:link,
.Subject_Links:visited,
.lesson_links,
.lesson_links:link,
.lesson_links:visited {
    text-decoration: none;
}

.Subject_Links:hover,
.Subject_Links:active,
.lesson_links:hover,
.lesson_links:active {
    text-decoration: underline;
}
/*End Single Variable Calculus style*/

/*Lessons style*/
.center_text {
    text-align: center;
}

.table, .figure, .bigFigure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.table {
    width: 40%;
    min-width: 320px;
}

.figure {
    width: 22.5%;
    min-width: 250px;
}

.bigFigure {
    width: auto;
    min-width: 320px;
}

.solutionButton {
    margin: auto auto auto -.3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
    margin-left: none;
    padding-left: none;
}

.slideout {
    max-height: 0;
    overflow: auto;
    transition: max-height 0.5s;
}

.slidein {
    max-height: 2000px;
    overflow: auto;
    transition: max-height 0.75s;
}

.definition {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    padding: 0.5rem;
}

.def_title {
    display: block;
    font-size: 1.3rem;
    text-align: center;
}
/*End Lessons Style*/