:root {
    --blue: #0010b0;
    --lightblue: #4e65c8;
}

.heading .heading_button {
    background-color: transparent;
    color: black;
    border: none;
    text-align: left;
    font-size: calc(16px + 0.75vw);
    font-weight: 600;
    margin-top: none;
    margin-bottom: none;
    margin-left: -.4%;
    margin-right: auto;
    padding: none;
    cursor: pointer;
}

.heading_button:hover {
    color: var(--blue);
}

#Lesson_plan {
    list-style-type: upper-roman;
}

.Lesson {
    font-weight: 600;
    margin-bottom: 7.5px;
}

.lesson_links {
    text-decoration: none;
    color: black;
}

.lesson_links:link {
    text-decoration: none;
    color: black;
}

.lesson_links:visited {
    text-decoration: none;
    color: black;
}

.lesson_links:hover {
    text-decoration: underline;
    color: black;
}

.lesson_links:active {
    text-decoration: underline;
    color: black;
}
