:root {
    --blue: #0010b0;
    --lightblue: #4e65c8;
}

.Whole {
    font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
    .Title_image {
        background-image: url('WebsiteLogo_Visible.png');
    }
    
    .Title_image:hover {
        background-image: url('WebsiteLogo_Hover.png');
    }
}

@media (prefers-color-scheme: dark) {
    .Title_image {
        background-image: url('WebsiteLogo_Visible_Dark.png');
    }
    
    .Title_image:hover {
        background-image: url('WebsiteLogo_Hover_Dark.png');
    }
}

.Title_image {
    top: 0;
    left: 0;
    background-size: 100px auto;
    background-color: transparent;
    height: 45px;
    width: 100px;
    border: none;
    margin-top: none;
    margin-bottom: none;
    margin-left: 1.25%;
    margin-right: none;
    padding: none;
    cursor: pointer;
}

.Title_image:hover {
    background-size: 100px auto;
    cursor: pointer;
}

.Top_Nav_Button {
    top: 0;
    right: 0;
    font-weight: 500;
    width: calc(90px + 0.75%);
    background-color:transparent;
    border: none;
    margin: calc(8px + 0.1%) 0% 0% 0%;
    padding: none;
    text-align: center;
    text-decoration: none;
    font-size: calc(14px + 0.75vw);
    cursor: pointer;
    float: right;
}

.Top_Nav_Button:hover {
    text-decoration: underline var(--blue);
}

.Title_Border {
    display: block;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 1.25%;
    margin-right: 1.25%;
    border-width: .5px;  
    background-color: white;
    height: .5px;
}

.Body {
    margin-left: 1.25%;
    margin-right: 1.25%;
}

.previous_button {
    font-weight: 600;
    width: auto;
    background-color:transparent;
    border: 2px solid var(--blue);
    border-radius: 4px;
    margin: none;
    padding: none;
    text-align: center;
    text-decoration: none;
    font-size: calc(12px + 0.75vw);
    cursor: pointer;
}

.next_button {
    font-weight: 600;
    width: auto;
    background-color:transparent;
    border: 2px solid var(--blue);
    border-radius: 4px;
    margin: none;
    padding: none;
    text-align: center;
    text-decoration: none;
    font-size: calc(12px + 0.75vw);
    cursor: pointer;
    float: right;
}

.previous_button:hover {
    background-color: var(--blue);
    color: whitesmoke;
}

.next_button:hover {
    background-color: var(--blue);
    color: whitesmoke;
}

.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 1.8%;
    margin-bottom: 1.8%;
}

