:root {
    --blue: #0010b0;
    --lightblue: #4e65c8;
}

.heading .heading_button {
    background-color: transparent;
    color: black;
    border: none;
    text-align: left;
    font-size: calc(16px + 0.75vw);
    font-weight: 600;
    margin-top: none;
    margin-bottom: none;
    margin-left: -.4%;
    margin-right: auto;
    padding: none;
    cursor: pointer;
}

.heading_button:hover {
    color: var(--blue);
}

.table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    min-width: 320px;
}

.figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22.5%;
    height: auto;
    min-width: 250px;
}

.solutionButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    margin-left: none;
    padding-left: none;
}

.solutionButton:hover {
    color: var(--blue);
}

.slideout {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: whitesmoke;
}

.slidein {
    max-height: 2000px;
    overflow: hidden;
    transition: max-height 0.75s;
    background-color: whitesmoke;
}