body {
    font-family: 'Courier New', Courier, monospace;
    color: #dfd2e7;
    text-align: justify;
    font-weight: 600;
    background-color: #072184;
    margin: 0;
    padding: 0;
}

@media (max-width: 599px) {
    body.whole, .blog-post {
        width: auto;
    }

    header {
        padding: 10px 20px;
    }

    .container {
        flex-direction: column;
    }

    article.post {
        width: auto;
    }

    img.image {
        width: 100%;
    }
    .post-separator {
        height: 1px;
        width: 98%;
        background-color: #dfd2e7;
        border: none;
    }
}

@media (min-width: 600px) {
    body.whole, .blog-post {
        width: 600px;
    }

    header {
        padding: 0 180px;
    }

    .container {
        flex-direction: row;
    }

    article.post, img.image {
        width: 340px;
    }

    .post-separator {
        display: none;
    }
}

body.whole {
    margin-left: auto;
    margin-right: auto;
}


a.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-decoration: none;
    color: #dfd2e7;
    font-weight: 500;
}

a.title:hover {
    color: #cccccc;
    text-decoration: underline;
    text-decoration-thickness: 1.2px;
}

.sub-title {
    font-size: medium;
    margin-top: 0px;
}

a.tabs {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #dfd2e7;
    text-decoration: none;
}

a.tabs:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.2px;
}

header {
    color: #dfd2e7;
    text-align: left;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #cccccc;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 12px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

.blog-post .container {
    margin-left: 0;
}

.date {
    padding-top: 13px;
    width: 100px;
    margin-right: 60px;
}

article.post {
    margin-bottom: 20px;
}

a.category, a.footnote {
    color: #dfd2e7 !important;
    text-decoration: none;
}

a.category:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.2px;
}

a.footnote {
    font-size: smaller;
}

.blog-post, .problems {
    padding-left: 20px;
}

.title-separator {
    height: 1px;
    width: calc(100% - 20px);
    background-color: #dfd2e7;
    border: none;
    margin: 0 0 20px 0;
}

.text, .problems {
    width: calc(100% - 20px);
}

.image {
    margin: 10px 0;
}

.theorem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 17px;
    border: none;
    border-left: 1px solid white;
}

.theorem-title {
    font-weight: 900;
    display: block;
    text-align: left;
    margin-bottom: 0.75rem;
}

.jupyter-frame {
    width: calc(100% + 26px);
    margin: 0px -25px;
}

@media (max-width: 699px) {
    #file-2023-11-18 {
        height: 7701px;
    }

    #file-2024-04-20 {
        height: 7707px;
    }
}

@media (min-width: 700px) {
    #file-2023-11-18 {
        height: 6226px;
    }

    #file-2024-04-20 {
        height: 5026px;
    }
}

figure {
    text-align: center;
    padding: 0;
    margin: 0 0 50px 0;
}

img.figure {
    width: 100%;
    padding: 0;
    margin: 0;
}

.problems details summary {
    cursor: pointer;
    margin: 20px 0;
}

.solution {
    padding: 10px;
    border-left: 1px solid white;
}

::selection {
    background-color: chocolate;
    color: chartreuse; /* Adjust text color for contrast */
}